<!doctype html>
<html>
    <head>
        <title>Blogz</title>
        <style>

            body{
                font-family: Arial, Helvetica, sans-serif;
            }

            .nav_links {
                margin:10px
            }
        
            ul {
                list-style: none;
            }

            li {
                margin: 5px;
            }

        </style>
    </head>
<body>
    <h1>My Blogz</h1>
        </ul>
    
        <div>
            <a class="nav_links" href='/index'>Home</a>
            <a class="nav_links" href='/blog'>All Posts</a>
            <a class="nav_links" href='/newpost'>Add a New Post</a>
            <a class="nav_links" style="float: right" href='/logout'>Logout</a>
            <a class="nav_links" style="float: right" href='/login'>Login</a>
        </div>

    {% block content %}
    {% endblock %}

</body>
</html>